body {
    background-color: #181818;
    color: white;
  }

#game-name{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    font-family:'Courier New', Courier, monospace;
    
}

#game-screen {
    margin: auto;
    margin-top: 40px;
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid white;
}

#score-board {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;

}

.snake {
    background-color: green;
    position: absolute;
    height: 20px;
    width: 20px;
}

.food {
    background-color: red;
    position: absolute;
    height: 20px;
    width: 20px;
}

.head{
    background-color: lime;
}
